@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');

:root {
    --black: #0e0e0e;
    --white: #f3f3f3;
    --gray: #a1a1a1;
    --mortar: #515151;
    --yellow: #ffee32;
    --bee: #ffd100;
}
/* body { background-color: var(--blue); } */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    outline: none;
    /*To remove on tap blue color*/
    -webkit-tap-highlight-color: transparent;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* *************NAV STYLING************** */
nav{
    display: flex;
    position: absolute;
    width: 100%;
    z-index: 2;
    justify-content: space-around;
    padding: 10px 10%;
    transition: all 1s ease;
}
.logo{
    flex: 1;
}
.logo img{
    height: 30px;
}
.navlinks{
    flex: 1;
    margin: auto;
    display: flex;
    justify-content: flex-end;
}
.link{
    list-style: none;
    margin: auto 0 auto 90px;
}
.link a{
    position: relative;
    color: black;
}
.link a::before {
    content: '';
    background: #000000;
    position:absolute;
    width: 100%;
    height: 1px;
    top: 100%;
    left: 0;
    height: 1px;
    transform-origin: 100% 50%;
    transform: scale3d(0, 1, 1);
    transition: transform 0.3s;
}
.link a:hover::before {
    transform-origin: 0% 50%;
    transform: scale3d(1, 1, 1);
}
.cta{
    margin: auto 0 auto 90px;
    padding: 10px;
    cursor: pointer;
}

/* *************Contact Form STYLING************** */

.contactwindow{
    display: none;
}


/* *************Landing STYLING************** */

.landing-section{
    display: flex;
    justify-content: space-around;
    text-align: center;
    height: 100vh;
}
.content{
    flex:1;
    margin: auto;
}
.graphic{
    flex: 1;
}
#canvas{
    width: 100%;
}









@media screen and (max-width:768px){
    .hamburger{
        position: absolute;
        z-index: 1;
        display: flex;
        flex-direction: column;
    }
    .line1,.line2,.line3{
        display: block;
        content: "";
        width: 15px;
        height: 4px;
        background-color: black;
        margin: 5px auto 5px auto;
        transition: all 0.5s ease;
    }
    .line2{
        width: 30px;
    }
}