@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Expletus+Sans&display=swap');

:root {
    --black: #0e0e0e;
    --white: #f3f3f3;
    --gray: #a1a1a1;
    --mortar: #515151;
    --yellow: #ffee32;
    --bee: #ffd100;
    --backgnd: var(--black);
    --foregnd: var(--white);
    --font: 'Poppins';
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    outline: none;
    /*To remove on tap blue color*/
    -webkit-tap-highlight-color: transparent;
    font-family: var(--font), sans-serif;
}

body{
    background-color: var(--backgnd);
    color: var(--foregnd);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* *************NAV STYLING************** */
nav{
    display: flex;
    position: absolute;
    width: 100%;
    z-index: 2;
    justify-content: space-around;
    padding: 10px 10%;
    transition: all 1s ease;
}
.logo{
    flex: 1;
}
.logo img{
    height: 30px;
}
.navlinks{
    flex: 1;
    margin: auto;
    display: flex;
    justify-content: flex-end;
}
.link{
    list-style: none;
    margin: auto 0 auto 90px;
}
.link a{
    position: relative;
    color: var(--foregnd);
}
.link a::before {
    content: '';
    background: var(--foregnd);
    position:absolute;
    width: 100%;
    height: 1px;
    top: 100%;
    left: 0;
    height: 1px;
    transform-origin: 100% 50%;
    transform: scale3d(0, 1, 1);
    transition: transform 0.3s;
}
.link a:hover::before {
    transform-origin: 0% 50%;
    transform: scale3d(1, 1, 1);
}

.clip-caption {
  width: 100%;
  color: #fff;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  text-align: center;
}

.hexclip {
  background: var(--bee);
  width: 40px;
  height: 40px;
  position: absolute;
  -webkit-clip-path: polygon(25% 5%, 75% 5%, 100% 50%, 75% 95%, 25% 95%, 0% 50%);
  clip-path: polygon(25% 5%, 75% 5%, 100% 50%, 75% 95%, 25% 95%, 0% 50%);
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  /* transform: rotateZ(30deg); */
}

.hexclip:hover {
  background: var(--foregnd);
  -webkit-transition: all 0.25s ease-in;
  transition: all 0.25s ease-in;
}
/* *************Contact Form STYLING************** */

.contactwindow{
    display: none;
}


/* *************Landing STYLING************** */

.landing-section{
    display: flex;
    justify-content: space-around;
    text-align: center;
    height: 100vh;
}
.content{
    flex:1;
    margin: auto;
    z-index: 1;
}
.graphic{
    flex: 1;
}
#canvas{
    width: 100%;
}

.cta {
    padding: 0.5em 0.2em;
    border: 1px solid var(--foregnd);
    border-radius: 2px;
    background: linear-gradient(
      45deg,
      #ff0000,
      #ff7300,
      #fffb00,
      #48ff00,
      #00ffd5,
      #002bff,
      #7a00ff,
      #ff00c8,
      #ff0000
    ); 
    background-size: 400% 400%;
    animation: buttonBack 5s ease infinite;
  } 
.cta label{
  background-color: var(--backgnd);
    padding: 0.3em 2em;
  backdrop-filter: blur(10px);
  border-radius: 2px;
}



@keyframes buttonBack {
  0%{
    background-position: 0 50%;
  }
  50%{
    background-position: 100% 50%;
  }
  100%{
    background-position: 0 50%;
  }
}
  

@media screen and (max-width:768px){
    .hamburger{
        position: absolute;
        z-index: 1;
        display: flex;
        flex-direction: column;
    }
    .line1,.line2,.line3{
        display: block;
        content: "";
        width: 15px;
        height: 4px;
        background-color: backgnd;
        margin: 5px auto 5px auto;
        transition: all 0.5s ease;
    }
    .line2{
        width: 30px;
    }
}

/* .cta {
    padding: 0.6em 2em;
    border: 1px solid var(--foregnd);
    color: var(--foregnd);
    background: var(--backgnd);
    backdrop-filter: blur(10px);
    cursor: pointer;
    position: relative;
    z-index: 0;
  } */
  
    /* background: linear-gradient(
      45deg,
      #ff0000,
      #ff7300,
      #fffb00,
      #48ff00,
      #00ffd5,
      #002bff,
      #7a00ff,
      #ff00c8,
      #ff0000
    ); */
  /* .cta:before {
    content: "";
  
    background: linear-gradient(
      45deg,
        #ffee32,
        #f3f3f3,
        #a1a1a1,
        #515151,
        #ffd100

    );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowingcta 20s linear infinite;
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
  }
  
  @keyframes glowingcta {
    0% {
      background-position: 0 0;
    }
    50% {
      background-position: 400% 0;
    }
    100% {
      background-position: 0 0;
    }
  }
  
  .cta:active {
    color: #000;
  }
  
  .cta:active:after {
    background: transparent;
  }
  
  .cta:hover:before {
    opacity: 1;
  }
  
  .cta:after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #191919;
    left: 0;
    top: 0;
    border-radius: 10px;
  }
 */